{{#each  posts as |post|}}
<article class="message mx-5">
  <div class="message-header py-2">
    <div class="level">
      <div class="level-item">
        <div>
          <div class="level-left mb-1">
            <h2 id = {{post.id}}>{{post.title}}</h2>
            <p class="has-text-weight-normal ml-2">By: <a class="username">{{user.username}}</a></p>
          </div>
          <div class="has-text-weight-normal level-left">
            <a class="mr-2">{{comment_count}} Comments</a>
            <p class="mr-2">{{tag.name}}</p>
            <p class="mr-2">{{reaction_count}} Reactions</p>
            {{!-- <a class="mr-2 emoji">🤤25</a>
            <a class="mr-2 emoji">😒12</a>
            <a class="mr-2 emoji">🤢2</a> --}}
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
{{/each}}