{{#each posts}}
<article class="message mx-5">
  <div class="message-header home-post py-2">
    <div class="level">
      <div class="level-item">
        <div>
          <div class="level-left mb-1">
            <a href="/post/{{id}}" class="home-title">{{title}}</a>
            <p class="ml-2 has-text-weight-normal"> - {{tag.name}}</p>
          </div>
          <div class="has-text-weight-normal level-left">
            {{!-- change span to <a></a> with href if user-profile route is made and set up --}}
            <p class="mr-2">By: <span class="username">{{user.username}}</span></p>
            <a href="/post/{{id}}" class="mr-2">{{comment_count}} Comments</a>
            <p>Posted on {{format_date created_at}}</p>
            {{!-- <a href="/post/{{id}}" class="mr-2">Has {{reaction_count}} reactions!</a> --}}
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
{{/each}}