<article class="message mx-5">
  <div class="message-header py-2">
    <div class="level">
      <div class="level-item">
        <div>
          <div class="level-left mb-1">
            <p>{{post.title}}</p>
            <p class="ml-2 has-text-weight-normal"> - {{post.tag.name}}</p>
          </div>
          <div class="has-text-weight-normal level-left">
            {{!-- change span to <a></a> with href if user-profile route is made and set up --}}
            <p class="mr-2">By: <span class="username">{{post.user.username}}</span></p>
            <a class="mr-2">{{post.comment_count}} Comments</a>
            <a class="mr-2 emoji">🤤{{#if reactions.[0]}}{{reactions.[0].reactionCount}}{{else}}0{{/if}}</a>
            <a class="mr-2 emoji">😒{{#if reactions.[1]}}{{reactions.[1].reactionCount}}{{else}}0{{/if}}</a>
            <a class="mr-2 emoji">🤢{{#if reactions.[2]}}{{reactions.[2].reactionCount}}{{else}}0{{/if}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="message-body">
    <div class="columns">
      {{!-- {{#if post.photo_photo}} --}}
      {{!-- <figure class="image image-center">
        <img src="https://www.budgetbytes.com/wp-content/uploads/2010/07/Classic-Homemade-Pizza-Dough-close.jpg">
      </figure> --}}
       {{!-- {{/if}} --}}
      <p class="column">{{post.post_text}}</p>
    </div>
  </div>
    
  </div>
</article>

{{#each post.comments}}
<div class="box mx-5 comment_box">
  <p>{{user.username}} on {{format_date created_at}}: </p>
  <p>{{comment_text}}</p>
</div>
{{/each}}